@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #FAF7F4;
}
::-webkit-scrollbar-thumb {
  background: #C9A96E;
}

::selection {
  background: #C9A96E;
  color: #FAF7F4;
}
